.carousel img {
  aspect-ratio: 21/9;
}

div:has(> .twitter-tweet) {
  display: flex;
  justify-content: center;
}

#carouselContainer {
  margin: 0 -1rem;
}

.snippetMatch {
  font-weight: 500 !important;
}

@media (min-width: 576px) {
  .mw-50-sm {
    margin-right: 50%;
  }
}